<h1>Sponsors</h1>

<p>The TTL podcast is grateful to generous sponsors who make the show possible.</p>

<ul>
<% for (var sponsor in public.sponsors._data) { %>
  <li>

      <h2><%= public.sponsors._data[sponsor].name %></h2>
      <div class="img--container">
          <img src="<%= public.sponsors._data[sponsor].image %>">
      </div>
      <p><%= public.sponsors._data[sponsor].blurb %></p>

      <% if (public.sponsors._data[sponsor].code) { %>
      <p>Use promo code <a href="<%= public.sponsors._data[sponsor].url %>"><%= public.sponsors._data[sponsor].code %></a> for <%= public.sponsors._data[sponsor].instructions %></p>
      <% } %>
  </li>
<% } %>
</ul>