<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <%- partial("_partials/_header") %>
    <%- yield %>
    <%- partial("_partials/_footer") %>
  </body>
</html>