<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- partial("../_partials/_header") %>
    <main>
      <img src="<%= image %>">
      <h1><%= title %></h1>
      <h2><%= guest %></h2>
      <p><%= date %></p>
      <p><%= duration %></p>
      <%= description %>

      <audio controls src="<%= audio %>"></audio>
      <a href="<%= audio %>">Download the mp3</a>

      <%- yield %>
    </main>
    <%- partial("../_partials/_footer") %>
  </body>
</html>
