<html>
  <meta charset="utf-8" />
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <%- partial("../_partials/_head") %>
  </head>
  <body>
    <%- partial("../_partials/_header") %>
    <main class="episode-page">
      <div class="episode--image">
        <img class="episode--image--main" src="<%= image %>">
      </div>
      <div class="episode--meta-data">
        <h1><%= title %></h1>
        <h2><%= guest %>
          <% if (twitter) { %>
            <% twitter.forEach(function (twitterUsername) { %>
              <a class="guest-twitter-link" target="_blank" href="https://twitter.com/<%= twitterUsername %>"></a>
            <% }); %>
          <% } %>
        </h2>
        <p class="date"><%= date %></p>

        <p><%= description %></p>

        <audio controls src="<%= audio %>"></audio>
      </div>

      <article class="transcript <% if (!transcript) { %>coming-soon<% } %>">
        <%- yield %>
      </article>

      <% if (transcript) { %>
      <button class="transcript-expand-button"> Read More ⤓</button>
      <script>
        document.querySelector('.transcript-expand-button').addEventListener('click', function(e){
          document.querySelector('.transcript').setAttribute('class', 'transcript js--open');
          document.querySelector('.transcript-expand-button').remove();
        }, false);
      </script>
      <% } %>

    </main>
    <%- partial("../_partials/_footer") %>
  </body>
</html>
