<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- partial("../_partials/_header") %>
    <main class="episode-page">
      <div class="episode--image">
        <img src="<%= image %>">
      </div>
      <div class="episode--meta-data">
        <h1><%= title %></h1>
        <h2><%= guest %></h2>
        <p><%= date %></p>
        <p><%= duration %></p>
        <p><%= description %></p>

        <audio controls src="<%= audio %>"></audio>
        <br>
        <a href="<%= audio %>">Download the mp3</a>
      </div>
      <article class="transcript">
        <%- yield %>
      </article>
    </main>
    <%- partial("../_partials/footer") %>
  </body>
</html>